{% extends 'layout/base.html' %}
{% block title %}
{{ post.title }}
{% endblock title %}

{% block content %}

<div class="card mb-3">
    <img src="{{ post.image.url}}" class="card-img-top" alt="{{ post.title }}"/>
    <div class="card-body">
        <h6 class="text-muted">@{{ post.user.username }} - {{ post.category }}</h6>
        <h5 class="card-title">{{ post.title }}</h5>
    
      <p class="card-text">
        {{ post.content }}
      </p>
      <p class="card-text">
        <small class="text-muted">{{ post.date_create|date:'d M Y h:m' }}</small>
        <small class="text-muted">Всего откликов - {{ post.number_of_comments }}</small>
        
      </p>
    </div>
  </div>

<section style="background-color: #eee;">
  <div class="container py-3">

    <div class="row d-flex justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-10">

        <div class="card">
          <div class="card-header d-flex justify-content-between align-items-center p-3"
            style="border-top: 4px solid #ffa900;">
            <h5 class="mb-0">Комментарии</h5>
            <div class="d-flex flex-row align-items-center">
              <span class="badge bg-warning me-3">{{ post.number_of_comments }}</span>
            </div>
          </div>
          <div class="card-body" data-mdb-perfect-scrollbar="true" style="position: relative; ">

            {% for comment in comments%}
            <div class="d-flex justify-content-between">
              <p class="small mb-1">{{ comment.user }}</p>
              <p class="small mb-1 text-muted">{{ comment.date_create }}</p>
            </div>
            <div class="d-flex flex-row justify-content-start">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava5-bg.webp"
                alt="avatar 1" style="width: 45px; height: 100%;">
              <div>
                <p class="small p-2 ms-3 mb-3 rounded-3" style="background-color: #f5f6f7;">
                  {{ comment.message }}</p>
              </div>            
            </div>
            {% endfor%}
            {% if user.is_authenticated %}
            
                      <div class="card-footer text-muted d-flex justify-content-start align-items-center p-3">
            <div class="input-group mb-0">
              
              <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    {{ comment_form }}
                    <button class="btn btn-info" type="submit">Опубликовать комментарий <i class="fas fa-comments"></i></button>
                </div>
            </form>
            
            </div>
          </div>
            

            {% else %}
            <a href="/accounts/login"><button type="button" class="btn btn-warning me-2">Войти</button></a>
            <a href="/accounts/signup"><button type="button" class="btn btn-warning me-2">Регистрация</button></a>   
            {% endif %}
          </div>
        </div>
      </div>
    </div>

  </div>
</section>





  

{% endblock content %}